a {
color: #6699ff;
text-decoration: none;
}

a:hover {
color: #99aaff;
text-decoration: underline;
}

body {
background-color: black;
background-image:url('../images/background.jpg');
font-family: 'Droid Sans', sans-serif;
overflow: scroll;
padding: 50px;
}

div#container {
background: #444;
margin: 0 auto 0 auto;
opacity: 0.6;
padding: 20px 30px 10px 30px;
width: 425px;
}

div#info {
height: 115px;
margin: 0 0 20px 0;
}

h1 {
border-bottom: 1px solid #aaa;
color: #a44;
font-family: 'Droid Sans', sans-serif;
height: 50px;
margin: 0 0 30px 0;
padding: 0 0 10px 0;
}

span.inputLabel {
color: #ccc;
float: left;
font-size: 14px;
font-family: 'Droid Sans', sans-serif;
font-weight: bold;
line-height: 1em;
margin: 0 10px 0 0;
}

input#query {
color: #e00;
float: right;
font-family: 'Droid Sans', sans-serif;
font-size: 14px;
position: relative;
top: -5px;
width: 242px;
}



div#resultsContainer {
margin: 0 0 20px 0;
}

div.poem {
cursor: pointer;
font-family: 'Droid Sans';
margin: 0 0 1em 0;
}

div.poem div.poemTitle {
border-bottom: 1px dotted #666;
color: #666;
font-size: 14px;
font-weight: bold;
height: 1.5em;
margin: 0 0 5px 0;
padding: 0 0 0 0;
}

div.line {
font-size: 12px;
height: 1.5em;
}

div.poemLines {
font-size: 12px;
line-height: 1.5em;
}

div.lineText {
color: white;
float: left;
font-size: 12px;
}

div.lineText em {
font-style: normal;
background: #744;
padding: 0 1px 0 1px;
}

div.lineNumber {
color: #666;
float: right;
font-size: 10px;
font-style: italic;
}
